<div class="page-header">
  <!-- Form to Add New Article -->
	<h1>Add New Article</h1>
	<form class="article_edit" action=<%="/articles_new"%> method="post">

<!-- Add Title -->
		<div class="form-group">
			<input type="article_title" id="inputTitle" class="form-control" placeholder="Article Title" name="article_title" required autofocus>
		</div>
<!-- Add Content -->
		<div class="form-group">
			<textarea placeholder="Content" name="content" class="form-control" rows="5" id="comment"></textarea>
<!-- Add Categories -->
		  <div class="form-group">
	      <label for="sel2">Category:</label>
	      <select name="categories" multiple class="form-control" id="sel2">
	        <%@categories.each do |category|%>
		        <option><%= category["title"]%></option>
	        <%end%>
	      </select>
	    </div>
		</div>
<!-- Submit edits button -->
		<div class="input-row">
			<input class="btn btn-ga btn-block" type="submit" value="Submit Edit">
		</div>
	</form>
</div>