<div class="page-header">
	<!-- Article Title -->
  <h1><%= "#{@article["title"]}" %></h1>
  <!-- Form to edit Article Content -->
	<form class="article_edit" action=<%="/articles/#{@id}/edit"%> method="post">
		<!-- Editable Article content -->
		<div class="input-row">
			<label for="content"></label>
			<textarea name="content"><%= "#{@article["content"]}" %></textarea>
		</div>
		<!-- Submit edits button -->
		<div class="input-row">
			<!-- Method override -->
		  <input type="hidden" name = "_method" value="PUT">
			<input class = "#btn-danger" type="submit" value="Submit Edit">
		</div>
	</form>
</div>

<!-- Editor from Stackoverflow --><!-- 
<div id="post-editor" class="post-editor js-post-editor">

  <div style="position: relative;">     
    <div class="wmd-container">
        <div id="wmd-button-bar" class="wmd-button-bar"></div>
        	<textarea id="wmd-input" class="wmd-input" name="post-text" cols="92" rows="15" tabindex="101" data-min-length=""></textarea>
		</div>
	</div>

	<div class="fl" style="margin-top: 8px; height:24px;">&nbsp;</div>
		<div id="draft-saved" class="draft-saved community-option fl" style="margin-top: 8px; height:24px; display:none;">draft saved</div>

  <div id="draft-discarded" class="draft-discarded community-option fl" style="margin-top: 8px; height:24px; display:none;">draft discarded</div>

  <div id="wmd-preview" class="wmd-preview"></div>
  <div></div>
  <div class="edit-block">
      <input id="fkey" name="fkey" type="hidden" value="2657d8725e6bcdafdf8002bb7435f2ba">
      <input id="author" name="author" type="text">
  </div>
</div>
		<div style="position: relative;"></div>
		<div class="form-submit cbt">
			<input id="submit-button" type="submit" value="Post Your Answer" tabindex="110">
			<a href="#" class="discard-answer dno">discard</a>
		</div>
</form>


 -->