<div class="page-header">
	<!-- Categories Header -->
  <h1>Categories</h1>
</div>

<!-- Categories Wrapper 100% width -->
<div class="categories-wrapper">
	<div class="list-group">
		<% @categories.each do |category| %>
			<a href=<%= "/category/#{category["id"]}"%> class="list-group-item"><%= category["title"] %></a>
		<% end %>
	</div>
</div>
