<div class="page-header">
	<!-- Category Header -->
  <h1><%= @title %></h1>
</div>

<!-- Categories Wrapper 100% width -->
<div class="categories-wrapper">
	<div class="list-group">
		<% @articles.each do |article| %>
		  <a href=<%="/articles/#{article["article_id"]}"%> class="list-group-item"><%= article["article_title"] %></a>
		<% end %>
			<a href=<%="/articles_new"%> class="list-group-item">+ Add New Article</a>
		</div>
</div>
