<!DOCTYPE html>
<html class="full" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>WDI Wiki</title>

<!-- Bootstrap core CSS -->
    <link href="/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
    <link href="/sticky-footer-navbar.css" rel="stylesheet">
		<script src="/jquery-1.11.3.min.js"></script>

  </head>
  <body>
<!-- Fixed navbar -->

<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/categories"> <img src="/ga.png" alt="">
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/categories">Categories</a></li>
                  <li><a href=<%="/user/#{current_user["id"]}"%>>Profile</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">
                    <form name ="supporform" class = "logout" method = "post" action = "/logout">
                      <input type= "hidden" name = "_method" value="DELETE">
                      <input type = "submit" class="btn-link" value = "Log Out"></li>
                    </form>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

<!-- Yield -->
    <div class="container">
          <%= yield %>
    </div>

<!-- Footer -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted">© 2016 Nicolai Robles | A WDI Project</p>
      </div>
    </footer>

<!-- Bootstrap core JavaScript -->
    <script src="/bootstrap.js"></script>

  </body>
</html>
