<!-- Signup Page with inputs for Name, email, password, and submit button-->

<!-- Form with post method to /signup -->
<form class="form-signin" action="/signup" method="post">
  <h2 class="form-signin-heading">Sign up</h2>

<!-- Insert Name name="name" -->
  <label for="inputName" class="sr-only">Name</label>
  	<input type="name" id="inputName" class="form-control" placeholder="Name" name="name" required autofocus>

<!-- Insert Email name="login_email" -->
  <label for="inputEmail" class="sr-only">Email address</label>
  	<input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="login_email" required autofocus>

<!-- Insert Password name="login_password" -->
  <label for="inputPassword" class="sr-only">Password</label>
  	<input type="password" id="inputPassword" class="form-control" placeholder="Password" name="login_password" required>

<!-- Submit Button -->
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>

<!-- Signup link -->
  <h6> Already a Member? 
    <a href=<%= "/login"%> > Log In
    </a>
  </h6>
